<!DOCTYPE html>
<html lang="pt-br">
<head>
  <!--[if lt IE 10]><meta http-equiv="refresh" content="0; url=/ops/"><![endif]-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <link rel="dns-prefetch" href="//themes.googleusercontent.com">
  <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
  <title>AWLKA</title>

  <style type="text/css">
  <%= raw Rails.application.assets['retreat-hell.css'] %>
  </style>

  <%= stylesheet_link_tag    'application', media: 'all' %>

  <script type="text/javascript" async>
  <%= raw Rails.application.assets['to-inline.js'] %>
  </script>

  <script type="text/javascript">
    WebFontConfig = {
      google: { families: [ 'Open+Sans:400italic,400,300,600:latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>
  <%= render 'layouts/favicons' %>
  <%= render 'layouts/meta' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'application' %>
</body>
</html>
