<!DOCTYPE html>
<html lang="pt-br">
<head>
  <!--[if lt IE 10]><meta http-equiv="refresh" content="0; url=/ops/"><![endif]-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <link rel="dns-prefetch" href="//themes.googleusercontent.com">
  <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
  <title>AWLKA - Desenvolvimento Web</title>
  <meta name="description" content="Desenvolvimento Web e Mobile focado em desempenho e UX."/>

  <%= render 'layouts/webfonts' %>

  <style type="text/css">
  <%= raw Rails.application.assets['retreat-hell.css'] %>
  <%= raw Rails.application.assets['home.css'] %>
  </style>

  <script type="text/javascript" async>
  <%= raw Rails.application.assets['to-inline.js'] %>
  </script>

  <%= render 'layouts/favicons' %>
  <%= render 'layouts/meta' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'application' %>
</body>
</html>
